$primary-color-light: #8D4A8F;
$primary-color-medium-light: #CEA9CF;
$primary-color-medium: #A872AA;
$primary-color-medium-dark: #712973;
$primary-color-dark: #551057;

$pure-white: hsl(0, 0%, 100%);
$white: hsl(0, 0%, 95%);
$light-grey: hsl(0, 0%, 75%);
$grey: hsl(0, 0%, 50%);
$dark-grey: hsl(0, 0%, 35%);
$black: hsl(0, 0%, 20%);
