@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,400i");

// Type scale:
// 5, 7, 9, 12, 16, 21, 28, 37, 50, 67, 89, 119, 159

@mixin primary-header-font {
    font-family: "Roboto Mono", monospace;
    font-size: 21px;
    word-spacing: -3px;
    letter-spacing: -1px;
}

@mixin secondary-header-font {
    font-family: "Roboto", serif;
    font-size: 37px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

@mixin tertiary-header-font {
    font-family: "Roboto", serif;
    font-size: 28px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

@mixin navigation-header-font {
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 700;
}

@mixin navigation-link-font {
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

@mixin code-font {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    line-height: 28px;
}

@mixin body-font {
    font-family: "Roboto", serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 37px;
    @media (max-width: $large-screen) {
        font-size: 16px;
        line-height: 21px;
    }
}

@mixin aside-font {
    font-family: "Roboto", serif;
    font-style: italic;
    font-size: 16px;
}
